{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    <ul class="list-group list-group-flush">
        {% for entry in entries %}
            <li class="list-group-item"><a href="wiki/{{ entry }}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ entry }}</a></li>
        {% empty %}
            <li class="list-group-item">No, matches found!</li>
        {% endfor %}
    </ul>

{% endblock %}