{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ page }}
{% endblock %}

{% block body %}
    {% if content is None %}
        <h1>Error! Page not found!</h1>
    {% else %}
        {{ content | safe }}
        <form action="{% url 'edit' %}" method="get">    
            {% csrf_token %}
            <input type="hidden" name="page_name" value="{{ page_name }}">
            <button type="submit" class="btn btn-primary">Edit</button>
        </form>
    {% endif %}
{% endblock %}